:root{
  --primary: #563232;
  --secondary: #e7cfb4;
}
.btn{
  transition: 0.5s;
}
.btn:hover{
  transform: scale(0.95);
}

.btn-primary{
  background: var(--primary);
  border-radius: 5px;
  border: none;
}
.btn-primary:hover{
  background: rgb(77, 77, 77);
}

.btn-outlined{
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);

}
.btn-outlined:hover{
  background: rgb(77, 77, 77);
  color: white;
  
}

.btn-outlined-white{
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn-outlined-white:hover{
  border: 1px solid #ffffff;
  color: #000000;
  background: #ffffff;
}
/* -- backgrounds  */
.primary-bg{
  background: var(--primary) ;
  color: white;
}
.primary-bg .nav-link{
  color: white !important;
}
.navbar-nav .nav-link.active{
  background: var(--secondary);
  border-radius: 5px;
}
.dropdown-menu{
  background: var(--primary);
}